@import url('https://fonts.googleapis.com/css?family=Exo');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

div {
  height: 33.33vh;
}

#celsius {
  border-top: 4px solid blue;
  border-bottom: 4px solid blue;
}

input[type=number] {
  width: 100%;
  height: 100%;
  outline: none;
  background: black;
  color: red;
  font-size: 95px;
  text-align: center;
  border: 0;
  font-family: 'Exo', sans-serif;
}

/* for chrome, opera, and safari */
::-webkit-input-placeholder {
  color: #890505;
}

/* for firefox */
::-moz-placeholder {
  color: #890505;
}

/* for microsoft edge */
::-ms-input-placeholder {
  color: #890505;
}
